# Data Investigation

In [7]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import postgresPWD

In [8]:
# create connection to posgres database
engine = create_engine(f'postgresql://postgres:{postgresPWD}@localhost/EmployeeSQL')
connection = engine.connect()

In [9]:
# get data from database
employees = pd.DataFrame(connection.execute("select * from employees"))

In [13]:
employees = employees.rename(columns={0:'Employee Number'})

In [14]:
employees

        Employee Number           1          2         3  4           5
0                 10001  1953-09-02     Georgi   Facello  M  1986-06-26
1                 10002  1964-06-02    Bezalel    Simmel  F  1985-11-21
2                 10003  1959-12-03      Parto   Bamford  M  1986-08-28
3                 10004  1954-05-01  Chirstian   Koblick  M  1986-12-01
4                 10005  1955-01-21    Kyoichi  Maliniak  M  1989-09-12
...                 ...         ...        ...       ... ..         ...
300019           499995  1958-09-24     Dekang  Lichtner  F  1993-01-12
300020           499996  1953-03-07       Zito      Baaz  M  1990-09-27
300021           499997  1961-08-03    Berhard    Lenart  M  1986-04-21
300022           499998  1956-09-05   Patricia   Breugel  M  1993-10-13
300023           499999  1958-05-01     Sachin   Tsukuda  M  1997-11-30

[300024 rows x 6 columns]